{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ar">

<head>
  <script>
    const theme = localStorage.getItem("theme") || "light";
    document.documentElement.dataset.theme = theme;
  </script>
  <script src="{% static '/assets/js/custom.js' %}"></script>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/assets/img/alnoor.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    حملة النور - تسجيل الدخول
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">


  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '/assets/css/custom.css' %}" rel="stylesheet" />
</head>

<body class="login-wrapper">
    <div class="login-body">
        <div class="profile-image">
            <img src="{% static 'assets/img/alnoor.png' %}" alt="Profile">
        </div>
        <h1 class="login-title">تسجيل الدخول</h1>
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <div class="login-form-group">
                <label for="phonenumber">رقم الهاتف</label>
                <input type="text" class="login-field" id="phonenumber" name="phonenumber" placeholder="رقم الهاتف" autocomplete="off">
            </div>
            <div class="login-form-group">
                <label for="password">كلمة المرور</label>
                <input type="password" class="login-field" id="password" name="password" placeholder="كلمة المرور" autocomplete="new-password">
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">تذكرني</label>
            </div>
            <button type="submit" class="login-btn">تسجيل الدخول</button>
        </form>
    </div>
</body>

</html>
