{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block content %}

<div class="main-panel" id="main-panel" style="background-color: var(--card-bg);">
    <div class="content" dir="rtl" style="margin-top: 10px;">
  
        <div class="bread-crumbs-size" style="display: flex; gap: 0;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <a href="{% url 'main_dashboard' %}" style="text-decoration: none;"><h5 style="color: var(--text-color);">الرئيسية</h5></a>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: var(--primary-color);"></i></h5>
            <a href="{% url 'religious_categories' %}" style="text-decoration: none;"><h5 style="color: var(--text-color);">فئات الأعمال الدينية</h5></a>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: var(--primary-color);"></i></h5>
            <a href="#" style="text-decoration: none;"><h5 style="color: var(--text-color);">إضافة</h5></a>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: var(--primary-color);"></i></h5>
          </div>
        </div>


        <div style="margin-top: 20px;">
            <form action="" method="post" style="display: flex; flex-direction: column; gap: 30px; color: var(--text-color);">
                {% csrf_token %}
                <div class="form-group" style="height: 150px;" dir="rtl">
                  
                <div class="form-block">
                    <div class="form-input" style="display: flex; flex-direction: column;">
                        <div class="form-label">{{ form.name.label_tag }}</div>
                        <div>{{ form.name|add_class:"form-control" }}</div>
                    </div>
                </div>
                </div>


              <div style="display: flex; justify-content: left;">
                <button type="submit" class="action-button add-task-button" style="border: none">
                  <i class="fas fa-save"></i>
                  <span>حفظ</span>
                </button>
              </div>

              </form>
        </div>
  
    </div>
  </div>

{% endblock content %}

