{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block content %}

<div class="main-panel" id="main-panel" style="background-color: var(--card-bg);">
    <div class="content" dir="rtl" style="margin-top: 10px;">
  
        <div class="bread-crumbs-size" style="display: flex; gap: 0;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <a href="{% url 'main_dashboard' %}" style="text-decoration: none;"><h5 style="color: var(--text-color);">الرئيسية</h5></a>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: var(--primary-color);"></i></h5>
            <a href="{% url 'notifications' %}" style="text-decoration: none;"><h5 style="color: var(--text-color);">الاشعارات</h5></a>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: var(--primary-color);"></i></h5>
            <h5 style="color: var(--text-color);">إضافة</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: var(--primary-color);"></i></h5>
          </div>
        </div>

        <div>
            <form action="" method="post" style="display: flex; flex-direction: column; gap: 30px; color: var(--text-color);">
                {% csrf_token %}
                <div class="form-group" style="height: auto; padding-bottom: 20px;" dir="rtl">
                  
                <div class="form-block">
                    <div class="form-input">
                        <div class="form-label">{{ form.title.label_tag }}</div>
                        <div>{{ form.title|add_class:"form-control" }}</div>
                    </div>
                </div>

                <div class="form-block">
                    <div class="form-input">
                        <div class="form-label">{{ form.content.label_tag }}</div>
                        <div>{{ form.content|add_class:"form-control" }}</div> 
                    </div>
                </div>
                </div>


                <div style="display: flex; gap: 10px; justify-content: left;">
                  <input type="submit" value="حفظ" class="save-button">
                </div>

              </form>
        </div>
  
    </div>
  </div>

{% endblock content %}


<script>
  $(document).ready(function() {
      $('#id_my_datetime_field').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          todayHighlight: true
      });
  });
  </script>