.log
dist/
build/
__pycache__/
__pycache__
.env
env
/env
.DS_Store
.idea
.vscode
.pytest_cache
.pytest_cache
.vscode
.vscode/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test