{% extends '../../base.html' %}

{% block title %}  Pilgrims {% endblock %}

{% block css_style %}

{% endblock %}
{% block pilgrims %}active{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50">
        <div class="card-body text-center">
            <h5 class="card-title ">الحجاج</h5>
    
            <a href="{% url 'add_pilgrim' %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons ui-1_simple-add"></i>
            </a>

            <a href="{% url 'export_pilgrim' %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
            </a>

            <a href="{% url 'import_pilgrim' %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons arrows-1_cloud-download-93"></i>
            </a>
            
        </div>
    </div>
</div>

    <table class="table table-hover table-responsive-md text-center">
        <thead>
            <tr>
                <th>الرقم التسلسلي</th>
                <th>الاسم الكامل</th>
                <th>رقم الهاتف</th>
                <!-- <th>Phone</th>
                <th>Phone</th>
                <th>Phone</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for pilgrim in pilgrims %}
            <tr>
                <td>{{ pilgrim.id }}</td>
                <td>{{ pilgrim.user.username }}</td>
                <td>{{ pilgrim.phone }}</td>
                <!-- <td>{{ customer.phone }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td> -->
                <td>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deletecustomerModal{{ pilgrim.id }}">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    <a href="{% url 'update_pilgrim' pilgrim.id %}" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                </td>
            </tr>
            <!-- Delete customer Modal -->
    <div class="modal fade" id="deletecustomerModal{{ pilgrim.id }}" tabindex="-1" role="dialog" aria-labelledby="deletecustomerModalLabel{{ pilgrim.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletecustomerModalLabel{{ pilgrim.id }}">حذف حاج</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>"هل أنت واثق أنك تريد حذف الحاج {{customer.name}}?"</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
              <form action="{% url 'delete_pilgrim' pilgrim.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">حذف</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Delete customer Modal -->
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js_script %}

{% endblock %}
