{% extends '../../base.html' %}

{% block title %}  Customera {% endblock %}

{% block css_style %}

{% endblock %}
{% block customers %}active{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50">
        <div class="card-body text-center">
            <h5 class="card-title ">Customers</h5>
    
            <a href="{% url 'add_customer' %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons ui-1_simple-add"></i>
            </a>
            
        </div>
    </div>
</div>

    <table class="table table-hover table-responsive-md text-center">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.username }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
                <td>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deletecustomerModal{{ customer.id }}">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    <a href="{% url 'update_customer' customer.id %}" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                </td>
            </tr>
            <!-- Delete customer Modal -->
    <div class="modal fade" id="deletecustomerModal{{ customer.id }}" tabindex="-1" role="dialog" aria-labelledby="deletecustomerModalLabel{{ customer.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletecustomerModalLabel{{ customer.id }}">Delete customer </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>"Are you sure you want to delete the customer {{customer.name}}?"</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{% url 'delete_customer' customer.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Delete customer Modal -->
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js_script %}

{% endblock %}
