{% extends '../../base.html' %}

{% block title %} Providers {% endblock %}

{% block css_style %}

{% endblock %}
{% block providers %}active{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50">
        <div class="card-body text-center">
            <h5 class="card-title ">المرشدين</h5>
    
            <a href="{% url 'add_guide' %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons ui-1_simple-add"></i>
            </a>
            
        </div>
    </div>
</div>
    <table class="table table-hover table-responsive-md text-center">
        <thead>
            <tr>
                <th>الرقم التسلسلي</th>
                <th>الاسم</th>
                <th>رقم الهاتف</th>
                <th>الايميل</th>
            </tr>
        </thead>
        <tbody>
            {% for guide in guides %}
            <tr>
                <td>{{ guide.id }}</td>
                <td>{{ guide.user.username }}</td>
                <td>{{ guide.user.phonenumber }}</td>
                <td>{{ guide.user.email }}</td>
                <td>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deleteproviderModal{{ guide.id }}">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    <a href="{% url 'update_guide' guide.id %}" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                </td>
            </tr>
                     <!-- Delete provider Modal -->
    <div class="modal fade" id="deleteproviderModal{{ guide.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteproviderModalLabel{{ guide.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteproviderModalLabel{{ guide.id }}">حذف مرشد</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
              <p>"هل أنت واثق أنك تريد حذف المرشد {{guide.name}}?"</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
              <form action="{% url 'delete_guide' guide.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">حذف</button>
              </form>
            </div>
          </div>
        </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js_script %}

{% endblock %}

