{% extends 'base.html' %}
{% block title %} products {% endblock %}
{% block subscription %}active{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50">
        <div class="card-body text-center">
            <h5 class="card-title ">products</h5>
    
            <a href="{% url 'create_product' provider_id  %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons ui-1_simple-add"></i>
            </a>
            
        </div>
    </div>
</div>
    <table class="table table-hover table-responsive-md text-center">
        <thead>
            <tr>
                <th>product name</th>
                <th>Price</th>
                <th>Offer</th>
                <th>Image</th>
                <th>Accept</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.offers }}</td>
                    <td>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="product Image" width="100" height="100" class="img-thumbnail small-image">
                        {% else %}
                            No image available
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deleteproductModal{{ product.id }}">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                          </button>
                        <a href="{% url 'update_product' product.id %}" class="btn btn-success btn-sm btn-icon">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                        </a>
                    </td>
                
                </tr>
                            <!-- Delete product Modal -->
    <div class="modal fade" id="deleteproductModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteproductModalLabel{{ product.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteproductModalLabel{{ product.id }}">Delete product </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>"Are you sure you want to delete the product {{product.name}}?"</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{% url 'delete_product' product.id  %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Delete product Modal -->
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
