{% extends '../../base.html' %}

{% block title %} Managers {% endblock %}

{% block css_style %}

{% endblock %}
{% block managers %}active{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50">
        <div class="card-body text-center">
            <h5 class="card-title ">الادارة</h5>
     
            <a href="{% url 'add_manager' %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons ui-1_simple-add"></i>
            </a>
            
        </div>
    </div>
</div>
    <table class="table table-hover table-responsive-md text-center">
        <thead>
            <tr>
                <th>الرقم التسلسلي</th>
                <th>الاسم</th>
                <th>رقم الهاتف</th>
                <th>ايميل</th>
            </tr>
        </thead>
        <tbody>
            {% for manager in managers %}
            <tr>
                <td>{{ manager.id }}</td>
                <td>{{ manager.user.username }}</td>
                <td>{{ manager.user.phonenumber }}</td>
                <td>{{ manager.user.email }}</td>
                <td>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deleteadminModal{{ manager.id }}">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    <a href="{% url 'update_manager' manager.id %}" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
              
                </td>
            </tr>
                <!-- Delete admin Modal -->
    <div class="modal fade" id="deleteadminModal{{ manager.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteadminModalLabel{{ manager.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteadminModalLabel{{ manager.id }}">حذف مدير</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>"هل أنت واثق من أنك تريد حذف المدير {{manager.name}}?"</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
              <form action="{% url 'delete_manager' manager.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">حذف</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Delete admin Modal -->
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js_script %}

{% endblock %}