{% extends 'base.html' %}
{% load static  %}

{% block content %}

<div class="main-panel" id="main-panel" style="margin-right: 210px; background-color: rgb(77, 76, 76);">
    <div class="content" dir="rtl" style="margin-top: 50px; margin-right: 10px;">
  
        <div style="display: flex; gap: 0; font-size: 10px;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <h5 style="color: white;">الرئيسية</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
            <h5 style="color: white;">الحجاج</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
            <h5 style="color: white;">إضافة</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
          </div>
          <div style="display: flex; gap: 10px;  margin-right: 100px; color: white;">
            <h5><i class=" now-ui-icons arrows-1_cloud-download-93" style="margin-left: 5px;"></i>تصدير </h5>
            <h5><i class=" now-ui-icons arrows-1_cloud-upload-94" style="margin-left: 5px;"></i>استيراد </h5>
          </div>
        </div>

        <div style="margin-right: 100px;">
            <form action="" method="post" style="display: flex; flex-direction: column; gap: 30px;">
                {% csrf_token %}
                <div style="background-color: rgb(57, 58, 58); width: 800px; height: 300px; border-radius: 30px;">

                </div>
                <div style="background-color: rgb(57, 58, 58); width: 800px; height: 300px; border-radius: 30px;">

                </div>
                <div style="background-color: rgb(57, 58, 58); width: 800px; height: 300px; border-radius: 30px;">

                </div>
            </form>
        </div>
  
    </div>
  </div>

{% endblock content %}