{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block content %}

<div class="main-panel" id="main-panel" style="background-color: rgb(77, 76, 76);">
    <div class="content" dir="rtl" style="margin-top: 10px;">
  
        <div style="display: flex; gap: 0; font-size: 10px;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <h5 style="color: white;">الرئيسية</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: #D7A401;"></i></h5>
            <h5 style="color: white;">الحجاج</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: #D7A401;"></i></h5>
            <h5 style="color: white;">إضافة</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: #D7A401;"></i></h5>
          </div>
        </div>

        <div>
            <form action="" method="post" style="display: flex; flex-direction: column; gap: 30px; color: white;">
                {% csrf_token %}

                <div class="form-group" style="height: auto;display: flex; flex-direction: column; justify-content: flex-start; gap: 0px; padding-bottom: 20px;" dir="rtl">
                  
                  <h4 style="text-align: center">المعلومات الشخصية</h4>
    
                  <div style="background-color: rgb(57, 58, 58); width: 100%;display: flex;gap: 10px;justify-content: space-evenly;border-radius: 30px; display: flex; justify-content: space-evenly;" >
                    <div class="form-block">
                      <div class="form-input">
                        <div class="form-label">{{ form.first_name.label_tag }}</div>
                        <div>{{ form.first_name|add_class:"form-control" }}</div>
                         
                      </div>    
                      <div class="form-input">
                        <div class="form-label">{{ form.father_name.label_tag }}</div>
                        <div>{{ form.father_name|add_class:"form-control" }}</div> 
                      </div>
                      <div class="form-input">
                        <div class="form-label">{{ form.grand_father.label_tag }}</div>
                        <div>{{ form.grand_father|add_class:"form-control" }}</div> 
                      </div>    
                    </div>
    
                    <div class="form-block">
                        <div class="form-input">
                          <div class="form-label">{{ form.last_name.label_tag }}</div>
                          <div>{{ form.last_name|add_class:"form-control" }}</div> 
                        </div>
                        <div class="form-input">
                          <div class="form-label">{{ form.registeration_id.label_tag }}</div>
                          <div>{{ form.registeration_id|add_class:"form-control" }}</div> 
                        </div>
                        <div class="form-input-datetime">
                          <div class="form-label">{{ form.birthday.label_tag }}</div>
                          <div><input type="date" class="date-field" name="birthday"></div>
                        </div>
                        <div class="form-input">
                      </div>
                    </div>
                  </div>
                </div>


                
                <div style="background-color: rgb(57, 58, 58); width: 100%;display: flex;gap: 10px;justify-content: space-evenly;border-radius: 30px; height: auto;display: flex; flex-direction: column; justify-content: flex-start; gap: 0px; padding-bottom: 20px;">
                  
                  <h4 style="text-align: center">معلومات الاقامة و الرحلة</h4>
                  
                  <div  style="display: flex; justify-content: space-evenly;">
                    <div class="form-block">
                      <div class="form-input">
                        <div class="form-label">{{ form.hotel.label_tag }}</div>
                        <div>{{ form.hotel|add_class:"form-control" }}</div> 
                      </div>    
                      <div class="form-input">
                        <div class="form-label">{{ form.hotel_address.label_tag }}</div>
                        <div>{{ form.hotel_address|add_class:"form-control" }}</div>
                      </div>    
                      <div class="form-input">
                        <div class="form-label">{{ form.room_num.label_tag }}</div>
                        <div>{{ form.room_num|add_class:"form-control" }}</div>
                      </div>
                      <div class="form-input">
                        <div class="form-label">{{ form.flight_num.label_tag }}</div>
                        <div>{{ form.flight_num|add_class:"form-control" }}</div>
                      </div>
                      <div class="form-input-datetime">
                        <div class="form-label">{{ form.arrival.label_tag }}</div>
                        <div><input type="time" class="time-field" name="arrival"></div> 
                      </div>
                      <div class="form-input-datetime">
                        <div class="form-label">{{ form.boarding_time.label_tag }}</div>
                        <div><input type="time" class="time-field" name="boarding_time"></div> 
                      </div>
                    </div>
                    
                    <div class="form-block">
                      <div class="form-input">
                        <div class="form-label">{{ form.company_logo.label_tag }}</div>
                        <div>{{ form.company_logo|add_class:"form-control" }}</div>
                      </div>
                      <div class="form-input">
                        <div class="form-label">{{ form.flight_company.label_tag }}</div>
                        <div>{{ form.flight_company|add_class:"form-control" }}</div>
                      </div>
                      <div class="form-input">
                        <div class="form-label">{{ form.gate_num.label_tag }}</div>
                        <div>{{ form.gate_num|add_class:"form-control" }}</div> 
                      </div>
                      <div class="form-input-datetime">
                        <div class="form-label">{{ form.departure.label_tag }}</div>
                        <div><input type="time" class="time-field" name="departure"></div>
                      </div>
                      <div class="form-input-datetime">
                        <div class="form-label">{{ form.from_city.label_tag }}</div>
                        <div><input type="text" class="time-field" name="from_city"></div>
                      </div>
                      <div class="form-input-datetime">
                        <div class="form-label">{{ form.to_city.label_tag }}</div>
                        <div><input type="text" class="time-field" name="to_city"></div>
                      </div>
                    </div>
                  </div>
                </div>
                

    
                <div style="background-color: rgb(57, 58, 58); width: 100%;display: flex;gap: 10px;justify-content: space-evenly;border-radius: 30px; height: auto;display: flex; flex-direction: column; justify-content: flex-start; gap: 0px; padding-bottom: 20px;">

                  <h4 style="text-align: center">معلومات الحساب</h4>

                  <div style="display: flex; justify-content: space-evenly;">

                    <div class="form-block">
                      <div class="form-input">
                        <div class="form-label">{{ form.image.label_tag }}</div>
                        <div>{{ form.image|add_class:"form-control" }}</div> 
                      </div>
                      <div class="form-input" style="flex-direction: column;">
                        <div class="form-label">{{ form.phonenumber.label_tag }}</div>
                        <div>{{ form.phonenumber|add_class:"form-control" }}</div>
                      </div>
                      <div class="form-input" style="display: flex; align-items: center; justify-content: right; gap: 40px;">
                        <div class="form-label">{{ form.get_notifications.label_tag }}</div>
                        <div style="padding-top: 27px;">{{ form.get_notifications|add_class:"form-control-check" }}</div> 
                      </div>
                    </div>


                    <div class="form-block">
                      <div class="form-input">
                        <div class="form-label">{{ form.password.label_tag }}</div>
                        <div>{{ form.password|add_class:"form-control" }}</div> 
                      </div>
                      <div class="form-input">
                        <div class="form-label">{{ form.password2.label_tag }}</div>
                        <div>{{ form.password2|add_class:"form-control" }}</div> 
                      </div>
                      <div class="form-input">
                        <div class="form-label">{{ form.guide.label_tag }}</div>
                        <div>{{ form.guide|add_class:"form-control" }}</div> 
                      </div>
                    </div>  
                  </div>
                  
                </div>   
                
                
                <div style="display: flex; gap: 10px; justify-content: left;">
                  <input type="submit" value="حفظ">
                  <input type="submit" value="حفظ و أضف المزيد">
                </div>
                
              </form>
            </div>
            
    </div>
  </div>

{% endblock content %}


<script>
  $(document).ready(function() {
      $('#id_my_datetime_field').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          todayHighlight: true
      });
  });
  </script>