{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block content %}

<div class="main-panel" id="main-panel" style="background-color: rgb(77, 76, 76);">
    <div class="content" dir="rtl" style="margin-top: 10px; margin-right: 10px;">
  
        <div style="display: flex; gap: 0; font-size: 10px;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <h5 style="color: white;">الرئيسية</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
            <h5 style="color: white;">المرشدين</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
            <h5 style="color: white;">اضافة</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
          </div>
        </div>

        <div>
            <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 30px; color: white;">
                {% csrf_token %}
                <div class="form-group">
                  
                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.username.label_tag }}</div>
                      <div>{{ form.username|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.password1.label_tag }}</div>
                      <div id="id_password1">{{ form.password1|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.password2.label_tag }}</div>
                      <div>{{ form.password2|add_class:"form-control" }}</div> 
                    </div>
                    <div style="width: 300px; display: flex; align-items: center; justify-content: right; gap: 40px;">
                        <div class="form-label">{{ form.get_notifications.label_tag }}</div>
                        <div style="padding-top: 27px;">{{ form.get_notifications|add_class:"form-control-check" }}</div> 
                      </div>
                </div>
                
                
                <div class="form-block">
                    <div class="form-input">
                        <div class="form-label">{{ form.phonenumber.label_tag }}</div>
                        <div>{{ form.phonenumber|add_class:"form-control" }}</div> 
                    </div>    
                    <div class="form-input">
                      <div class="form-label">{{ form.image.label_tag }}</div>
                      <div>{{ form.image|add_class:"form-control" }}</div>
                    </div>
                  </div>



                </div>


                <div style="display: flex; gap: 10px; justify-content: left;">
                  <input type="submit" value="حفظ">
                  <input type="submit" value="حفظ و أضف المزيد">
                </div>

              </form>
        </div>
  
    </div>
  </div>

{% endblock content %}


<script>
  $(document).ready(function() {
      $('#id_my_datetime_field').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          todayHighlight: true
      });
  });
  </script>

