{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block content %}

<div class="main-panel" id="main-panel" style="background-color: rgb(77, 76, 76);">
    <div class="content" dir="rtl" style="margin-top: 10px;">
  
        <div style="display: flex; gap: 0; font-size: 10px;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <h5 style="color: white;">الرئيسية</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: #D7A401;"></i></h5>
            <h5 style="color: white;">استمارات التسجيل</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: #D7A401;"></i></h5>
            <h5 style="color: white;">إضافة</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: #D7A401;"></i></h5>
          </div>
        </div>

        <div>
            <form action="" method="post" style="display: flex; flex-direction: column; gap: 30px; color: white; width: 100%;">
                {% csrf_token %}
                <div class="form-group" style="height: auto; padding-bottom: 20px;" dir="rtl">
                  
                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.phonenumber.label_tag }}</div>
                      <div>{{ form.phonenumber|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.first_name.label_tag }}</div>
                      <div>{{ form.first_name|add_class:"form-control" }}</div>
                       
                    </div>    
                    <div class="form-input">
                      <div class="form-label">{{ form.father_name.label_tag }}</div>
                      <div>{{ form.father_name|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.grand_father.label_tag }}</div>
                      <div>{{ form.grand_father|add_class:"form-control" }}</div> 
                    </div>    
                  </div>

                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.last_name.label_tag }}</div>
                      <div>{{ form.last_name|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.id_number.label_tag }}</div>
                      <div>{{ form.id_number|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.birthday.label_tag }}</div>
                      <div>{{ form.birthday|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.job_position.label_tag }}</div>
                      <div>{{ form.job_position|add_class:"form-control" }}</div> 
                    </div>
                  </div>


                </div>
                <div class="form-group" style="height: auto; padding-bottom: 20px;" >
                  

                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.gender.label_tag }}</div>
                      <div>{{ form.gender|add_class:"form-control" }}</div> 
                    </div>    
                    <div class="form-input">
                      <div class="form-label">{{ form.options_trip.label_tag }}</div>
                      <div>{{ form.options_trip|add_class:"form-control" }}</div>
                    </div>    
                    <div class="form-input">
                      <div class="form-label">{{ form.marital_status.label_tag }}</div>
                      <div>{{ form.marital_status|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.address.label_tag }}</div>
                      <div>{{ form.address|add_class:"form-control" }}</div>
                    </div>
                  </div>

                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.alhajj.label_tag }}</div>
                      <div id="id_my_datetime_field">{{ form.alhajj|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.tradition_reference.label_tag }}</div>
                      <div>{{ form.tradition_reference|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.count_hajjas.label_tag }}</div>
                      <div>{{ form.count_hajjas|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.last_year.label_tag }}</div>
                      <div><input type="number" min="1900" max="2050" class="form-control"></div>
                    </div>
                  </div>

                </div>
                <div class="form-group" style="height: auto; padding-bottom: 20px;" >


                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.means_journey.label_tag }}</div>
                      <div>{{ form.means_journey|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.blood_type.label_tag }}</div>
                      <div>{{ form.blood_type|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.illness.label_tag }}</div>
                      <div>{{ form.illness|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.chronic_diseases.label_tag }}</div>
                      <div>{{ form.chronic_diseases|add_class:"form-control" }}</div> 
                    </div>
                  </div>


                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.tawaf.label_tag }}</div>
                      <div>{{ form.tawaf|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.sai.label_tag }}</div>
                      <div>{{ form.sai|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.wheelchair.label_tag }}</div>
                      <div>{{ form.wheelchair|add_class:"form-control" }}</div> 
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.type_help.label_tag }}</div>
                      <div>{{ form.type_help|add_class:"form-control" }}</div> 
                    </div>
                  </div>  
                  
                  
                </div>

                <div style="display: flex; gap: 10px; justify-content: left;">
                  <input type="submit" value="حفظ">
                  <input type="submit" value="حفظ و أضف المزيد">
                </div>

              </form>
        </div>
  
    </div>
  </div>

{% endblock content %}


<script>
  $(document).ready(function() {
      $('#id_my_datetime_field').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          todayHighlight: true
      });
  });
  </script>