{% load static  %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/assets/img/kaaba.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Admin
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
  />

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<!-- Bootstrap Bundle (includes Popper) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">

  <!-- CSS Files -->
  <link href="{% static '/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static '/assets/css/now-ui-dashboard.css' %}" rel="stylesheet"/>
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '/assets/demo/demo.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/css/custom.css' %}" rel="stylesheet" />


</head>

<body class="" style="background-color: rgb(77, 76, 76); font-family: Cairo;">  
  <div class="wrapper">
    <!-- <div class="sidebar" style="left: auto; right: 0; width: 230px;  height: 700px;">
      <div class="sidebar-wrapper" id="sidebar-wrapper" style="background-color: rgb(53, 52, 52); height: 700px;">
        <ul class="nav">
          <li style="display: flex; flex-direction: column; color: white; align-items: center;">
              <p class="h3">
                <img src="{{user_image}}" alt="" class="rounded-circle" style="width: 90px; height: 90px; object-fit: cover; margin: auto;">
                <h5>{{username}}</h5>
              </p>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'main_dashboard' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons design_app"></i>
              <p class="h3">اللوحة الرئيسية</p>
            </a>  
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'pilgrims' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons users_single-02"></i>
              <p class="h3">الحجاج</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'employees' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons users_single-02"></i>
              <p class="h3">الموظفين</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'managers' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons users_single-02"></i>
              <p class="h3">الإدارة</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'guides' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons users_single-02"></i>
              <p class="h3">المرشدين</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'registration_forms' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p class="h3">استمارات التسجيل</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'guidance_posts' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons text_caps-small"></i>
              <p class="h3">الارشاد الديني</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'tasks' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p class="h3">المهام</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'steps' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons text_caps-small"></i>
              <p class="h3">جدول الحملة</p>
            </a>
          </li>
          <li style="margin-right: 20px;">
            <a href="{% url 'notifications' %}" style="display: flex; flex-direction: row-reverse; gap: 10px;">
              <i class="now-ui-icons text_caps-small"></i>
              <p class="h3">اشعارات</p>
            </a>
          </li>
        </ul>
      </div>
    </div> -->

      <div class="sidebar" data-color="orange" style="color: white;">

        <div class="sidebar-wrapper" id="sidebar-wrapper" style="font-family: Cairo; font-size: larger;">
          <ul class="nav" style="text-align: right;">
            <li style="display: flex; flex-direction: column; color: white; align-items: center;">
              <p class="h3">
                <img src="{{user_image}}" alt="" class="rounded-circle" style="width: 90px; height: 90px; object-fit: cover; margin: auto;">
                <h5>{{username}}</h5>
              </p> 
            </li>
            <li class="">
              <a href="{% url 'main_dashboard' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons design_app"></i>
                <p>اللوحة الرئيسية</p>
              </a>
            </li>
            <li>
              <a href="{% url 'registration_forms' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons files_paper"></i>
                <p>استمارات التسجيل</p>
              </a>
            </li>
            <li>
              <a href="{% url 'pilgrims' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons users_single-02"></i>
                <p>الحجاج</p>
              </a>
            </li>
            <li>
              <a href="{% url 'notes' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons files_paper"></i>
                <p>ملاحظات</p>
              </a>
            </li>
            <li>
              <a class="test" id="trigger" data-toggle="collapse" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons users_single-02"></i>
                <p>الموظفين</p>
                <i class="now-ui-icons arrows-1_minimal-down"></i>
              </a>
            </li>
            <div class="collapse" id="section" style=" background: #2e2e2e;">
              <li>
                <a href="{% url 'guides' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: 10pt;">
                  <i class="now-ui-icons users_single-02" style="font-size: 11pt;"></i>
                  <p>المرشدين</p>
                </a>
              </li>
              <li>
                <a href="{% url 'managers' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: 10pt;">
                  <i class="now-ui-icons users_single-02" style="font-size: 11pt;"></i>
                  <p>الادارة</p>
                </a>
              </li>
              <li>
                <a href="{% url 'employees' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: 10pt;">
                  <i class="now-ui-icons users_single-02" style="font-size: 11pt;"></i>
                  <p>الموظفين</p>
                </a>
              </li>
            </div>
            <li>
              <a href="{% url 'tasks' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>المهام</p>
              </a>
            </li>
            <li>
              <a href="{% url 'notifications' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons ui-1_bell-53"></i>
                <p>الاشعارات</p>
              </a>
            </li>
            <li>
              <a class="test3" id="trigger3" data-toggle="collapse" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons users_single-02"></i>
                <p>خط السير</p>
                <i class="now-ui-icons arrows-1_minimal-down"></i>
              </a>
            </li>

            <div class="collapse" id="section3" style=" background: #2e2e2e;">

              <li>
                <a href="{% url 'steps' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: 10pt;">
                  <i class="now-ui-icons users_single-02" style="font-size: 11pt;"></i>
                  <p>الخطوات الرئيسية</p>
                </a>
              </li>
              <li>
                <a href="{% url 'secondary_steps' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: 10pt;">
                  <i class="now-ui-icons users_single-02" style="font-size: 11pt;"></i>
                  <p>الخطوات الفرعية</p>
                </a>
              </li>
  
              </div>

            <li>
              <a href="{% url 'guidance_posts' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons travel_istanbul"></i>
                <p>الارشاد الديني</p>
              </a>
            </li>
            <li>
              <a href="{% url 'religious_posts' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons travel_istanbul"></i>
                <p>الأعمال الدينية</p>
              </a>
            </li>
            <li>
              <a class="test2" id="trigger2" data-toggle="collapse" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons users_single-02"></i>
                <p>فئات</p>
                <i class="now-ui-icons arrows-1_minimal-down"></i>
              </a>
            </li>
            <div class="collapse" id="section2" style=" background: #2e2e2e;">

            <li>
              <a href="{% url 'religious_categories' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: 10pt;">
                <i class="now-ui-icons users_single-02" style="font-size: 11pt;"></i>
                <p>فئات الأعمال الدينية</p>
              </a>
            </li>
            <li>
              <a href="{% url 'guidance_categories' %}" style="display: flex; flex-direction: row-reverse; gap: 5px; font-size: 10pt;">
                <i class="now-ui-icons users_single-02" style="font-size: 11pt;"></i>
                <p>فئات الإرشاد الديني</p>
              </a>
            </li>
            </div>
            
            <li>
              <a href="{% url 'terms' %}" style="display: flex; text-wrap:pretty ; flex-direction: row-reverse; gap: 5px; font-size: larger;">
                <i class="now-ui-icons ui-1_bell-53"></i>
                <p style="font-size: 13pt;">الخصوصية و الأحكام</p>
              </a>
            </li>
          </ul>
        </div>
      </div>

    <nav class="navbar navbar-expand-lg" style="background-color: #D7A401;">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>

        </div>
        
        <div class="mydropdown" dir="rtl">
          <span style="color: white;">
              <i class="now-ui-icons loader_gear"></i>
          </span>
          <div class="mydropdown-content" dir="rtl">
            <a href="{% url 'logout' %}" style="color: black; text-decoration: none;"><p>تسجيل خروج</p></a>
            <a href="{% url 'my_account' %}" style="color: black; text-decoration: none; width: 100%;"><p>حسابي</p></a>
          </div>
        </div>  

      </div>
    </nav>

    {% block content %}


    {% endblock content %}


  </div>
  <!--   Core JS Files   -->
  <script src="{% static '/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static '/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static '/assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static '/assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/assets/js/now-ui-dashboard.min.js' %}" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static '/assets/js/now-ui-dashboard.js' %}" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static '/assets/demo/demo.js' %}"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

<script>
  $(document).ready(function(){
    $("#trigger").click(function(){
      $("#section").collapse('toggle');
    });
    $("#trigger2").click(function(){
      $("#section2").collapse('toggle');
    });
    $("#trigger3").click(function(){
      $("#section3").collapse('toggle');
    });
  });
  </script>



</body>

</html>