{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block content %}

<div class="main-panel" id="main-panel" style="background-color: rgb(77, 76, 76);">
    <div class="content" dir="rtl" style="margin-top: 10px; margin-right: 10px;">
  
        <div style="display: flex; gap: 0; font-size: 10px;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <h5 style="color: white;">الرئيسية</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
            <h5 style="color: white;">الموظفين</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
            <h5 style="color: white;">تعديل</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
            <h5 style="color: white;">تعديل كلمة المرور</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
          </div>
        </div>


        <div style="display: flex; gap: 5px; color: white; font-size: smaller;" dir="ltr">
          <a href="{% url 'change_password' user_id %}" style="text-decoration: none;"><h5 class="change-button" style="background-color: #969696;">تعديل كلمة المرور</h5></a>
        </div>
  

        <div>
            <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 30px; color: white;">
                {% csrf_token %}
                <div style="background-color: rgb(57, 58, 58); width: 100%; height: 330px;display: flex; justify-content: space-evenly; border-radius: 30px;" dir="rtl">
                  
                    <div class="form-block">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Change Password</button>
                        </form>
                    </div>


                </div>


                <div style="display: flex; gap: 10px; justify-content: left;">
                  <input type="submit" value="حفظ">
                  <input type="submit" value="حفظ و أضف المزيد">
                </div>

              </form>
        </div>
  
    </div>
  </div>

{% endblock content %}


<script>
  $(document).ready(function() {
      $('#id_my_datetime_field').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          todayHighlight: true
      });
  });
  </script>

