{% extends 'base.html' %}
{% load static  %}

{% block content %}
<div class="main-panel" id="main-panel" style="margin-right: 200px; background-color: rgb(77, 76, 76);">
  <div class="content" style="margin-top: 50px; margin-right: 10px;" dir="rtl">

    <div style="display: flex; gap: 0; font-size: 10px;">
      <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
        <h5 style="color: white;">الرئيسية</h5>
        <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
      </div>
    </div>
    
    <div class="row" style="color: white;">
      <div class="col-lg-4">
        <div class="card card-chart" style="width: 250px; height: 130px; background-color: rgb(47, 48, 48);">
          <div class="card-header">
            <h4 class="card-title" style="text-align: center; border-bottom: solid; border-color: rgb(189, 9, 189);">عدد الحجاج</h4>
          </div>
          <div class="card-body">
            <div class="chart-area" style="text-align: center; font-size: x-large;">
              {{total_pilgrims}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-chart" style="width: 250px; height: 130px; background-color: rgb(47, 48, 48);">
          <div class="card-header">
            <h4 class="card-title" style="text-align: center; border-bottom: solid; border-color: rgb(189, 9, 189);">عدد الموظفين</h4>
          </div>
          <div class="card-body">
            <div class="chart-area" style="text-align: center; font-size: x-large;">
             {{total_employees}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-chart" style="width: 250px; height: 130px; background-color: rgb(47, 48, 48);">
          <div class="card-header">
            <h4 class="card-title" style="text-align: center; border-bottom: solid; border-color: rgb(189, 9, 189);">عدد استمارات التسجيل</h4>
          </div>
          <div class="card-body">
            <div class="chart-area" style="text-align: center;  font-size: x-large;">
              {{total_forms}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="color: white;">
      <div class="col-md-6">
        <div class="card card-chart" style="width: 250px; height: 130px; margin-right: 170px; background-color: rgb(47, 48, 48);">
          <div class="card-header">
            <h4 class="card-title" style="text-align: center; border-bottom: solid; border-color: rgb(189, 9, 189);">عدد الاداريين </h4>
          </div>
          <div class="card-body">
            <div class="chart-area" style="text-align: center;  font-size: x-large;">
              {{total_managers}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart" style="width: 250px; height: 130px; margin-left: 100px; background-color: rgb(47, 48, 48);">
          <div class="card-header">
            <h4 class="card-title" style="text-align: center; border-bottom: solid; border-color: rgb(189, 9, 189);">عدد المرشدين</h4>
          </div>
          <div class="card-body">
            <div class="chart-area" style="text-align: center;  font-size: x-large;">
              {{total_guides}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}