{% extends 'base.html' %}



{% block content %}
<div class="main-panel" id="main-panel" style="background-color: rgb(77, 76, 76);">
  <div class="content" dir="rtl" style="margin-top: 10px; margin-right: 10px;">

      <div style="display: flex; gap: 0; font-size: 10px;">
        <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
          <h5 style="color: white;">الرئيسية</h5>
          <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
          <h5 style="color: white;">الادارة</h5>
          <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
        </div>
      </div>


      <div style="display: flex; gap: 5px; color: white; font-size: smaller;" dir="ltr">
        <a href="{% url 'add_manager' %}" style="text-decoration: none;"><h5 class="import-button" style="background-color: green;">إضافة</h5></a>
      </div>
      
      <div class="row">
      <div class="col-md-12">
        <div class="card" style="background-color: rgb(57, 58, 58);">

          <div style="display: flex;">
            <div class="card-header" style="margin-left: 520px;">
              <form action="" method="get" style="color: rgb(54, 54, 54);">
                  <input type="text" name="q" class="custom-input" placeholder="  بحث">
              </form>
            </div>
          </div>


      

          <div class="card-body">
            <div class="table-responsive">
              <div style="overflow-x: auto; width: 100%;">
                <table class="table" style="width: 1000px;">
                  <thead class="text-primary" style="font-size: small ; background-color: rgb(88, 88, 88);text-align: center;">
                    <th style="color: white;">
                      ID
                    </th>
                    <th style="color: white;">
                      الاسم
                    </th>
                    <th style="color: white;">
                      رقم الهاتف
                    </th>
                    <th style="color: white;">
                      الايميل
                    </th>
                    <th style="color: white;">
                      تلقي الاشعارات
                    </th>
                    <th style="color: white;">
                      
                    </th>
                  </thead>
                  <tbody style="color: white;">
                  {% for manager in managers %}
                    <tr style="font-size: large; text-align: center;">
                      <td>
                        {{manager.id}}
                      </td>
                      <td>
                        <a href="{% url 'update_manager' manager.id %}" style="color: white; text-decoration: none;">
                          {{manager.user.username}}
                        </a>
                      </td>
                      <td>
                        {{manager.user.phonenumber}}
                      </td>
                      <td>
                        {{manager.user.email}}
                      </td>
                      <td>
                        {% if manager.user.get_notifications %}
                        <i class="fas fa-check" style="color: rgb(140, 206, 41);"></i>
                        {% else %}
                        <i class="fas fa-circle-xmark" style="color: rgb(230, 73, 73);"></i>
                        {% endif %}
                      </td>
                      <td>
                          <a href="{% url 'update_manager' manager.id %}" class="btn btn-success btn-sm btn-icon">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                          </a>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deleteadminModal{{ manager.id }}">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                          </button>
                      </td>
                  </tr>


                  <div class="modal fade" id="deleteadminModal{{ manager.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteadminModalLabel{{ manager.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteadminModalLabel{{ manager.id }}">حذف المدير</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>"هل أنت واثق من أنك تريد حذف المدير {{manager.first_name}}?"</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                          <form action="{% url 'delete_manager' manager.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">حذف</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}