{% extends 'base.html' %}



{% block content %}
<div class="main-panel" id="main-panel" style="background-color: rgb(77, 76, 76);">
  <div class="content" dir="rtl" style="margin-top: 10px; margin-right: 10px;">

      <div style="display: flex; gap: 0; font-size: 10px;">
        <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
          <h5 style="color: white;">الرئيسية</h5>
          <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
          <h5 style="color: white;">الحجاج</h5>
          <h5><i class="now-ui-icons arrows-1_minimal-left" style="margin-top: 3px; color: rgb(189, 9, 189);"></i></h5>
        </div>
      </div>

      <div style="display: flex; gap: 5px; color: white; font-size: smaller;" dir="ltr">
        <a href="{% url 'export_pilgrim' %}" style="text-decoration: none;"><h5 class="import-button"><i class=" now-ui-icons arrows-1_cloud-download-93"></i>تصدير ملف</h5></a>
        <a href="{% url 'import_pilgrim' %}" style="text-decoration: none;"><h5 class="import-button"><i class=" now-ui-icons arrows-1_cloud-download-93"></i>استيراد ملف</h5></a>
        <a href="{% url 'add_pilgrim' %}" style="text-decoration: none;"><h5 class="import-button" style="background-color: green;">إضافة</h5></a>
      </div>

      <div class="row">
      <div class="col-md-12">
        <div class="card" style="background-color: rgb(57, 58, 58);">

          <div style="display: flex;">
            <div class="card-header">
              <form action="" method="get" style="color: rgb(54, 54, 54);">
                  <input type="text" name="q" class="custom-input" placeholder="  بحث">
              </form>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <div style="overflow-x: auto; width: 100%;">
                <table class="table" style="width: 1200px;">
                  <thead class="text-primary" style="font-size: small ; background-color: rgb(88, 88, 88)">
                    <th style="color: white;">
                      ID
                    </th>
                    <th style="color: white;">
                      الاسم
                    </th>
                    <th style="color: white;">
                      اسم الأب
                    </th>
                    <th style="color: white;">
                      العائلة
                    </th>
                    <th style="color: white;">
                      رقم الرحلة
                    </th>
                    <th style="color: white;">
                      موعد الاقلاع
                    </th>
                    <th style="color: white;">
                      موعد الهبوط
                    </th>
                    <th style="color: white;">
                      من 
                    </th>
                    <th style="color: white;">
                      إلى 
                    </th>
                    <th style="color: white;">
                      الفندق
                    </th>
                    <th style="color: white;">
                      عنوان الفندق
                    </th>
                    <th style="color: white;">
                      رقم الغرفة
                    </th>
                    <th style="color: white;">
                      رقم الهاتف
                    </th>
                    <th style="color: white;">
                      
                    </th>
                  </thead>
                  <tbody style="color: white;">
                  {% for pilgrim in pilgrims %}
                    <tr style="font-size: large;">
                      <td>
                        {{pilgrim.id}}
                      </td>
                      <td>
                        {{pilgrim.first_name}}
                      </td>
                      <td>
                        {{pilgrim.grand_father}}
                      </td>
                      <td>
                        {{pilgrim.last_name}}
                      </td>
                      <td>
                        {{pilgrim.flight_num}}
                      </td>
                      <td>
                        {{pilgrim.arrival}}
                      </td>
                      <td>
                        {{pilgrim.departure}}
                      </td>
                      <td>
                        {{pilgrim.from_city}}
                      </td>
                      <td>
                        {{pilgrim.to_city}}
                      </td>
                      <td>
                        {{pilgrim.hotel}}
                      </td>
                      <td>
                        {{pilgrim.hotel_address}}
                      </td>
                      <td>
                        {{pilgrim.room_num}}
                      </td>
                      <td>
                        {{pilgrim.phonenumber}}
                      </td>
                      <td>
                          <a href="{% url 'update_pilgrim' pilgrim.id %}" class="btn btn-success btn-sm btn-icon">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                          </a>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deleteadminModal{{ pilgrim.id }}">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                          </button>
                      </td>
                  </tr>


                  <div class="modal fade" id="deleteadminModal{{ pilgrim.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteadminModalLabel{{ pilgrim.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteadminModalLabel{{ pilgrim.id }}">حذف الحاج</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>"هل أنت واثق من أنك تريد حذف الحاج {{pilgrim.first_name}}?"</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                          <form action="{% url 'delete-pilgrim' pilgrim.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">حذف</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}