{% extends '../../base.html' %}

{% block title %}  الموظفين {% endblock %}

{% block css_style %}

{% endblock %}
{% block employees %}active{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50">
        <div class="card-body text-center">
            <h5 class="card-title ">الموظفين</h5>
    
            <a href="{% url 'add_employee' %}" class="btn btn-primary btn-md btn-icon">
                <i class="now-ui-icons ui-1_simple-add"></i>
            </a>
            
        </div>
    </div>
</div>

    <table class="table table-hover table-responsive-md text-center">
        <thead>
            <tr>
                <th>الرقم التسلسلي</th>
                <th>الاسم</th>
                <th>ايميل</th>
                <th>رقم الهاتف</th>
                <!-- <th>Phone</th>
                <th>Phone</th>
                <th>Phone</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.user.username }}</td>
                <td>{{ employee.user.email }}</td>
                <td>{{ employee.user.phonenumber }}</td>
                <!-- <td>{{ employee.phone }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.address }}</td> -->
                <td>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deletecustomerModal{{ employee.id }}">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    <a href="{% url 'update_employee' employee.id %}" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                </td>
            </tr>
            <!-- Delete customer Modal -->
    <div class="modal fade" id="deletecustomerModal{{ employee.id }}" tabindex="-1" role="dialog" aria-labelledby="deletecustomerModalLabel{{ employee.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletecustomerModalLabel{{ employee.id }}">حذف موظف</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>"هل أنت واثق أنك تريد حذف الموظف {{employee.name}}?"</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
              <form action="{% url 'delete_employee' employee.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">حذف</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Delete customer Modal -->
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js_script %}

{% endblock %}
