{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block content %}

<div class="main-panel" id="main-panel" style="background-color: var(--card-bg);">
    <div class="content" dir="rtl" style="margin-top: 10px;">
  
        <div class="bread-crumbs-size" style="display: flex; gap: 0;">
          <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
            <a href="{% url 'main_dashboard' %}" style="text-decoration: none;"><h5 style="color: var(--text-color);">الرئيسية</h5></a>
            <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
            <a href="{% url 'managers' %}" style="text-decoration: none;"><h5 style="color: var(--text-color);">الإدارة</h5></a>
            <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
            <h5 style="color: var(--text-color);">تعديل</h5>
            <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
          </div>
        </div>


      <!-- Replace with form-wrapped search and actions container -->
      <div class="search-actions-container" dir="ltr">
        <div class="actions-container">
          <a href="{% url 'change_password' manager_id %}" class="action-button import-button">
            <i class="fas fa-key"></i>
            <span>تعديل كلمة المرور</span>
          </a>
        </div>
      </div>



        <div>
            <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 30px; color: var(--text-color);">
                {% csrf_token %}
                <div style="background-color: var(--body-color); width: 100%;display: flex;gap: 10px;justify-content: space-evenly;border-radius: 30px;" dir="rtl">
                  
                  <div class="form-block">
                    <div class="form-input">
                      <div class="form-label">{{ form.username.label_tag }}</div>
                      <div>{{ form.username|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input">
                      <div class="form-label">{{ form.email.label_tag }}</div>
                      <div>{{ form.email|add_class:"form-control" }}</div>
                    </div>
                    <div class="form-input" style="display: flex; align-items: center; justify-content: right; gap: 40px;">
                      <div class="form-label">{{ form.get_notifications.label_tag }}</div>
                      <div style="padding-top: 27px;">{{ form.get_notifications|add_class:"form-control-check" }}</div> 
                    </div>
                </div>
                
                
                <div class="form-block">
                    <div class="form-input">
                        <div class="form-label">{{ form.phonenumber.label_tag }}</div>
                        <div>{{ form.phonenumber|add_class:"form-control" }}</div> 
                    </div>    
                    <div style="width: 300px; text-align: right;">
                      <div class="form-label">الصورة الشخصية:</div>
                      <div class="current-image-wrapper">
                          <img src="{{ manager_image }}" alt="Current Image" class="current-image">
                          <div class="form-input"><input type="file" name="image" id="image_id" class="my-img"></div>
                      </div>
                    </div>
                  </div>



                </div>


                <div style="display: flex; justify-content: left;">
                  <button type="submit" class="action-button add-task-button" style="border: none">
                    <i class="fas fa-save"></i>
                    <span>حفظ</span>
                  </button>
                </div>

              </form>
        </div>
  
    </div>
  </div>

{% endblock content %}


<script>
  $(document).ready(function() {
      $('#id_my_datetime_field').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          todayHighlight: true
      });
  });
  </script>

