{% extends 'base.html' %}



{% block content %}
<div class="main-panel" id="main-panel" style="background-color: var(--card-bg);">
  <div class="content" dir="rtl" style="margin-top: 10px;">

      <div class="bread-crumbs-size" style="display: flex; gap: 0;">
        <div style="height: 70px; margin-left: 1300px; display: flex; gap: 10px;">
          <a href="{% url 'main_dashboard' %}" style="text-decoration: none;"><h5 style="color: var(--text-color);">الرئيسية</h5></a>
          <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
          <h5 style="color: var(--text-color);">استمارات التسجيل</h5>
          <h5><i class="now-ui-icons arrows-1_minimal-left bread-crumbs-arrow" style="margin-top: 3px;"></i></h5>
        </div>
      </div>


      <!-- Replace with form-wrapped search and actions container -->
      <div class="search-actions-container">
        <form method="GET" action="" class="search-wrapper">
          <input type="text" name="q" class="search-input" placeholder="البحث عن استمارة..." value="{{ request.GET.q }}">
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <div class="actions-container">
          <a href="{% url 'add_register_form' %}" class="action-button add-task-button">
            <span>
              <i class="fas fa-plus"></i>
              إضافة استمارة
            </span>
          </a>
          <a href="{% url 'export_forms' %}" class="action-button import-button">
            <span >
              تصدير ملف
            </span>
          </a>
          <a href="#" data-toggle="modal" data-target="#deleteAllFormsModal" class="action-button import-button">
            <span>
              حذف الكل
            </span>
          </a>
        </div>
      </div>


      <div class="row">
      <div class="col-md-12">
        <div class="card" style="background-color: var(--body-color);">

          <div class="card-body">
            <div class="table-responsive">
              <div style="overflow-x: auto; width: 100%;">
                <table class="table my-table">
                  <thead class="text-primary header-wrapper" style=" text-align: center;">
                    <th style="color: var(--text-color);">
                      ID
                    </th>
                    <th style="color: var(--text-color);">
                    رقم الهاتف
                    </th>
                    <th style="color: var(--text-color);">
                    الاسم الاول
                    </th>
                      <th style="color: var(--text-color);">
                    الاب
                    </th>
                    <th style="color: var(--text-color);">
                    الجد
                    </th>
                    <th style="color: var(--text-color);">
                    العائلة 
                    </th>
                    <th style="color: var(--text-color);">
                    رقم الهوية
                    </th>
                    <th style="color: var(--text-color);">
                    الميلاد
                    </th>
                    <th style="color: var(--text-color);">
                    العمل
                    </th>
                    <th style="color: var(--text-color);">
                    الجنس
                    </th>
                    <th style="color: var(--text-color);">
                    خيارات الرحلة
                    </th>
                    <th style="color: var(--text-color);">
                    الحالة الاجتماعية
                    </th>
                    <th style="color: var(--text-color);">
                    مكان السكن
                    </th>
                    <th style="color: var(--text-color);">
                    نوع الحجة
                    </th>
                    <th style="color: var(--text-color);">
                    مرجع التقليد
                    </th>
                    <th style="color: var(--text-color);">
                    عدد الحجات
                    </th>
                    <th style="color: var(--text-color);">
                    اخر سنة حج
                    </th>
                    <th style="color: var(--text-color);">
                    وسيلة الرحلة
                    </th>
                    <th style="color: var(--text-color);">
                    فصيلة الدم
                    </th>
                    <th style="color: var(--text-color);">
                    أمراض
                    </th>
                    <th style="color: var(--text-color);">
                    مساعدة في الطواف
                    </th>
                    <th style="color: var(--text-color);">
                    مساعدة في السعي
                    </th>
                    <th style="color: var(--text-color);">
                    كرسي متحرك
                    </th>
                    <th style="color: var(--text-color);">  
                    نوع المساعدة
                    </th>
                    <th style="color: var(--text-color);">
                      
                    </th>
                  </thead>
                  <tbody class="body-wrapper">
                  {% for form in forms %}
                    <tr class="body-fields">
                      <td>
                        <a style="text-decoration: none; color: var(--text-color);" href="{% url 'update_register_form' form.id %}">
                          {{form.id}}
                        </a>
                      </td>
                      <td>
                        {{form.phonenumber}}
                      </td>
                      <td>
                        {{form.first_name}}
                      </td>
                      <td>
                        {{form.father_name}}
                      </td>
                      <td>
                        {{form.grand_father}}
                      </td>
                      <td>
                        {{form.last_name}}
                      </td>
                      <td>
                        {{form.id_number}}
                      </td>
                      <td>
                        {{form.birthday}}
                      </td>
                      <td>
                        {{form.job_position}}
                      </td>
                      <td>
                        {{form.gender}}
                      </td>
                      <td>
                        {{form.options_trip}}
                      </td>
                      <td>
                        {{form.marital_status}}
                      </td>
                      <td>
                        {{form.address}}
                      </td>
                      <td>
                        {{form.alhajj}}
                      </td>
                      <td>
                        {{form.tradition_reference}}
                      </td>
                      <td>
                        {{form.count_hajjas}}
                      </td>
                      <td>
                        {{form.last_year}}
                      </td>
                      <td>
                        {{form.means_journey}}
                      </td>
                      <td>
                        {{form.blood_type}}
                      </td>
                      <td>
                        {% if form.illness %}
                        <i class="fas fa-check" style="color: rgb(140, 206, 41);"></i>
                        {% else %}
                        <i class="far fa-circle-xmark" style="color: rgb(230, 73, 73);"></i>
                        {% endif %}
                      </td>
                      <td>
                        {% if form.tawaf %}
                        <i class="fas fa-check" style="color: rgb(140, 206, 41);"></i>
                        {% else %}
                        <i class="far fa-circle-xmark" style="color: rgb(230, 73, 73);"></i>
                        {% endif %}
                      </td>
                      <td>
                        {% if form.sai %}
                        <i class="fas fa-check" style="color: rgb(140, 206, 41);"></i>
                        {% else %}
                        <i class="far fa-circle-xmark" style="color: rgb(230, 73, 73);"></i>
                        {% endif %}
                      </td>
                      <td>
                        {% if form.wheelchair %}
                        <i class="fas fa-check" style="color: rgb(140, 206, 41);"></i>
                        {% else %}
                        <i class="far fa-circle-xmark" style="color: rgb(230, 73, 73);"></i>
                        {% endif %}
                      </td>
                      <td>
                        {{form.type_help}}
                      </td>
                      <td>
                          <a href="{% url 'update_register_form' form.id %}" class="btn btn-success btn-sm btn-icon">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                          </a>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" data-toggle="modal" data-target="#deleteadminModal{{ form.id }}">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                          </button>
                      </td>
                  </tr>


                  <div class="modal fade" id="deleteadminModal{{ form.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteadminModalLabel{{ form.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteadminModalLabel{{ form.id }}">حذف استمارة</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>"هل أنت واثق من أنك تريد حذف استمارة الحاج  {{form.first_name}}?"</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                          <form action="{% url 'delete_register_form' form.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">حذف</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="pagination-wrapper">
            <div class="pagination">
              {% if forms.has_previous %}
                <a href="?page={{ forms.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">&laquo;</a>
              {% endif %}

              {% for num in forms.paginator.page_range %}
                {% if num == forms.number %}
                  <a class="page-link active">{{ num }}</a>
                {% elif num > forms.number|add:'-3' and num < forms.number|add:'3' %}
                  <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">{{ num }}</a>
                {% endif %}
              {% endfor %}

              {% if forms.has_next %}
                <a href="?page={{ forms.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">&raquo;</a>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




<!-- Add Modal for Delete All Confirmation -->
<div class="modal fade" id="deleteAllFormsModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllFormsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAllFormsModalLabel">حذف الاستمارات</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        هل أنت واثق من أنك تريد حذف جميع الاستمارات؟
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
        <a href="{% url 'delete_all_forms' %}" class="btn btn-danger">حذف</a>
      </div>
    </div>
  </div>
</div>



{% endblock content %}