@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');






@media (min-width: 992px) {
    .main-panel {
       margin-right: 230px; /* Adjust the value as needed */
     }
   }




/* Apply a gap between the flex items for larger screens */
@media (max-width: 992px) {
.container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Sets the gap between the flex items */
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
       display: flex;
       flex-direction: row; /* Sets the flex direction to row */
       gap: 20px; /* Sets the gap between the flex items */
     }
   }



.custom-input::placeholder {
    font-size: 16px;
    color: white;
    margin-left: 5px;
}

.custom-input {
    width: 200px; /* Set the width of the input field */
    height: 40px; /* Set the height of the input field */
    background-color: rgb(135, 136, 136);
    border: none;
    border-radius: 10px;
}



.form-control {
    outline: none;
    border: rgb(58, 57, 57);
    color: white;
    font-size: larger;
    background-color: rgb(126, 126, 126);
    height: 45px;
}


.form-control-check {
    outline: none;
    border: rgb(58, 57, 57);
    color: #999;
    height: 35px;
    margin-bottom: 34px;
    background-color: rgb(126, 126, 126);
}


.form-label {
    text-align: right;
}





.input-group {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
}


.form-block {
    padding-top: 20px;
}


.import-button {
    background: gray;
    width: 60px;padding: 4px;
    padding-bottom: 0;
    border-radius: 20px;
    color: white;
}



body {
    font-family: 'Cairo';
}

::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
}

/* This will style the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Dark color for the scrollbar handle */
    border-radius: 5px; /* Optional: Rounded corners for the scrollbar handle */
}

/* This will style the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color for the scrollbar handle on hover */
}


:root {
    --bg-color: rgb(20,20,20);
}


.login-wrapper{
    background-color: var(--bg-color);
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-body {
    background: rgb(70, 69, 69);
    padding: 60px;
    border-radius: 30px;
}


.login-field {
    border-color: #007bff;
    outline: none;
    border: none;
    box-shadow: 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(126, 126, 126);
    height: 35px;
    width: 250px;
}


.form-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-btn {
    background: #a30188;
    color: white;
    border-radius: 30px;
    border: none;
    height: 40px;
}


.login-title {
    color: white;
    font-family: Cairo;
    text-align: center;
}